/* 
    Themplate name: Batigor 



*/




/* 
    [ Table of index ]

    1.0 Google Font
    2.0 Global CSS/Typography
    3.0 Header


*/

/* --------------------------------------------
    Global CSS/Typography
---------------------------------------------*/

:root {
    --primary: #253D4E;
    --secondary: #008D36;
    --accent: #E30613;
    --accent2: #E84534;
    --light: #C8D9E2;
    --textColor: #4A4A4A;
    --bgColor: #116F84;
    --white: #ffffff;
    --overlay: rgba(0, 0, 0, 0.5);
}



/* --------------------------------------------
    header
---------------------------------------------*/

.navbar-menu li a {
    display: block;
    padding: 16px 20px;
    transition: all .2s ease-in-out;
}

.navbar-menu li:hover {
    background-color: var(--accent);
    color: var(--white);
}

@media screen and (max-width: 1024px ) {
    .primary-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        box-shadow: 0 6px 12px 0 rgb(0, 0, 0, 0.3);
        transition: all 1s ease-in-out;
    }

    .primary-menu.active {
        left: 0;
        transition: all .3s ease-in-out;
    }
    .primary-menu ul.navbar-menu {
        color: var(--textColor);
    }

    .navbar-menu li a {
        padding: 8px 16px !important;
        font-size: 14px;
    }
}


/* Header istant action */

.istant-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: none;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.istant-card.active {
    right: 0;
}



/* --------------------------------------------
    book slider / cards
---------------------------------------------*/

.book-card {
    transition: all .3s ease-in-out;
}

.book-card:hover {
    background-color: var(--light);
}




/* --------------------------------------------
    Testimonials
---------------------------------------------*/

.testimonials-item .item-inner {
    background-color: var(--white);
}

.testimonials-item:nth-last-child(n) .item-inner {
    border: 1px solid var(--primary);
}

.testimonials-item:nth-last-child(2n) .item-inner {
    border: 1px solid var(--accent);
}

.testimonials-item:nth-last-child(3n) .item-inner {
    border: 1px solid var(--secondary);
}

.testimonials-item:nth-last-child(4n) .item-inner {
    border: 1px solid var(--accent2);
}
.testimonials-item:nth-last-child(5n) .item-inner {
    border: 1px solid var(--light);
}




/* --------------------------------------------
    filter
---------------------------------------------*/
@media screen and (max-width: 1024px ) {
    .filter-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -9999px;
        background: var(--white);
        transition: all 1s ease-in-out;
    }
}


.show-filter {
    top: 0;
    bottom: 4;
    margin
    : 16px;
}


/* --------------------------------------------
    books details tabs
---------------------------------------------*/

.tab-lists li button.active {
    color: var(--white);
    background-color: var(--accent);
    border-color: var(--accent);
}